@import 'variables';

@mixin article-info {
    font-size: 1.18rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.7;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $tablet-query) {
        font-size: 1.375rem;
    }

    @media only screen and (min-width: $big-tablet-query) {
        font-size: 1.5rem;
    }

    h2 {
        font-weight: 700;
        margin: 0 0 1rem;
    }

    p { margin: 0 0 1.5rem 0}

    button {
        border-radius: 999px;
        padding: .5rem 1rem;
        background-color: transparent;
        font-size: 0.875rem;
        font-weight: 800;
        color: inherit;
        border: .7px solid;
        transition: trasnform 1s ease;
        
        @media only screen and (min-width: $desktop-query) {    
            &:hover {
                background-color: #ffffff44;
                transform: scale(1.1);
            }
        }
    }


}

.advice-info {
    padding: 2rem 0;
    background-color: #D8E8E3;

    p {
        width: 100%;
        line-height: 1.6;
        padding: 0 1rem;
        text-align: center;
        margin: 0 auto;

        a {text-decoration: underline;}

        @media screen and (min-width: $big-tablet-query) {
            width: 60%;
            max-width: 800px;
            font-size: 1.1875rem;
        }
    }

}

.articles { // this handle all the articles
    margin: 2rem 0;

    .article__information {
        @include article-info();
    }
}

.article-1 {
    background-color: #1E3932;
    color: #eee;

    @media only screen and (min-width: $big-tablet-query) {
        div:first-child {
            order: 2;
        }
    }
}

.article-2 {
    background-color: #F2F0EB;
    color: #1E3932;
}

.article-3 {
    background-color: #F2F0EB;

    div {
        display: flex;
        
        @media only screen and (min-width: $big-tablet-query) {
            &:first-child {
                order: 2;
            }
        }
    }
            
}

.article-4 {

    .article__container {
        background-color: #D4E9E2;

        @media only screen and (min-width: $big-tablet-query) {
            & { flex-basis: 48.5%;}
            padding: 0;
        }
    }
}

.article-5 {
    background-color: #F2F0EB;

    div:first-child {
        img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

        @media only screen and (min-width: $big-tablet-query) {
            &:first-child {
                order: 2;
            }
        }
    }
}

.article-1 p, .article-2 p, .article-3 p {
    padding: 0 1rem;
    margin: 0 auto;
    @media only screen and (min-width: $desktop-query) { padding: 0 3.5rem;}
}

.article-4 p, .article-5 p {
    font-size: 1rem; 
    @media only screen and (min-width: $big-tablet-query) { font-size: 1.18rem;}
}

/* Footer section */


.section__acordions {

    article {
        overflow: hidden;
        transition: height 1s ease;
        
        ul {
            transition: all .7s;
            height: 0;
    
            li {
                padding: 1.2rem 2rem;
                color: #adadad;
                font-size: .87rem;
            }
        }
    
        h2 { 
            padding: 1.5rem 2rem;
            display: flex; 
            justify-content: space-between;
        }
    }
    
    article.show ul {
        height: 22rem;
    }
}

.section__columms {
    display: none;
    justify-content: space-between;
    max-width: 90rem;
    margin: 0 auto;

    ul li { 
        padding: 1rem;
        color: #8b8b8b;
        font-size: .87rem;
        opacity: .8;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    h2 {
        font-size: 1.18rem;
        padding: 1rem;
    } 

}

@media only screen and (min-width: $desktop-query) {
    .section__acordions { display: none; }
    .section__columms {display: flex;}
}

