// mediaqueries values
$tablet-query: 23.43rem;
$big-tablet-query: 48rem;
$desktop-query: 64rem;


// header height's variables

$mobile-height: 4.25rem;
$tablet-height: 4.5rem;
$scond-tablet-height: 5.31rem;
$desktop-height: 6.31rem;

// starbucks logo
$min-height-svg: 2.5rem;
$max-height-svg: 3.18rem;