// mediaqueries values
$tablet-query: 23.43rem;
$big-tablet-query: 48rem;
$desktop-query: 64rem;


// header height's variables

$mobile-height: 4.25rem; //68px
$tablet-height: 4.5rem; // 72
$scond-tablet-height: 5.31rem; // 84.96px
$desktop-height: 6.31rem; // 100.96px

// starbucks logo
$min-height-svg: 2.5rem;
$max-height-svg: 3.18rem;